@using UmbCheckout.Stripe.Controllers.Surface
@using UmbCheckout.Shared.Extensions
@inherits UmbracoViewPage<UmbCheckout.Core.ViewModels.BasketViewModel>
<table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Currency Price</th>
            <th scope="col">Currency Code</th>
            <th scope="col">Quantity</th>
            <th scope="col">Reduce</th>
            <th scope="col">Increase</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Basket.LineItems.Any())
        {
            foreach (var lineItem in Model.Basket.LineItems)
            {
                <tr>
                    <th scope="row"><a href="@Umbraco.Content(lineItem.Id)?.Url()">@lineItem.Name</a></th>
                    <td>@lineItem.Price</td>
                    <td>@lineItem.CurrencyPrice</td>
                    <td>@lineItem.CurrencyCode</td>
                    <td>@lineItem.Quantity</td>
                    <td>
                        @using (Html.BeginUmbracoForm<StripeBasketController>(nameof(StripeBasketController.Reduce), FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@lineItem.Id" />
                            <button class="button button--border--solid" type="submit">-</button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginUmbracoForm<StripeBasketController>(nameof(StripeBasketController.Add), FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@lineItem.Id" />
                            <button class="button button--border--solid" type="submit">+</button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginUmbracoForm<StripeBasketController>(nameof(StripeBasketController.Remove), FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@lineItem.Id" />
                            <button class="button button--border--solid" type="submit">Remove</button>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="8" style="text-align: center;">Your basket is empty!</td>
            </tr>
        }
    </tbody>
</table>
<p><strong>Sub Total:</strong> @Model.SubTotal.FormatCurrency("GBP")</p>
<p><i><strong>Coupons, Shipping and Tax are calculated on the next checkout step</strong></i></p>
<p>
    @using (Html.BeginUmbracoForm<StripeBasketController>(nameof(StripeBasketController.Checkout), FormMethod.Post))
    {
        <button class="button button--border--solid" type="submit">Checkout</button>
    }
</p>